

<style>
.container{
  display: flex;
      align-items: flex-start;
}

.col {
  flex: 1;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}


img {
  max-height: calc(100vh - 200px);

}

</style>

