

<style>

.container{
  display: flex;
  align-items: flex-start;
  
  

}

.col {
  flex: 1;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 1em;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-height: calc(100vh - 300px);
  

}

.col img {
    flex-shrink: 1;

}

</style>

